*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    max-width: 1250px;
    margin: 0% auto;
}
.ul , li {
    list-style-type: none;
}
.a{
    text-decoration: none;
}
.Navlink{
    text-decoration: none;
}


  